.nav-container{
    background-color: rgb(18 107 121 / 88%);

    position: relative;

}
.nav-container-scroll{
    background-color:  rgba(0, 0, 0, .75);
    color: #fff;
    position: sticky;
  top: 0;
  z-index: 10000;

}
.header-h1{
    color: #fff!important;
    font-size: 20px;
    font-weight: 900;
}

.header-nav a{
    font-size: 20px;
    font-weight: 900;
    color: #fff!important;
}
.header-nav a :hover{
    color: rgb(67, 196, 216)!important;
}

