.add-container{
    background-image: url(""),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
   
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}
.form-container input{
width: 60%;
margin-bottom: 10px;
}